<DOCTYPE HTML>
<html>
<head>
<title>Slow Control Alarms</title> {{!comment}}
<link rel="stylesheet" href="/slowcontrol-channeldb/_design/slowcontrol/style/main.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/_utils/script/json2.js"></script>

<!--<script src="/slowcontrol-channeldb/_design/slowcontrol/script/jquery.js"></script>-->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<!--<script src="/slowcontrol-channeldb/_design/slowcontrol/script/jquery.mobile.js"></script>-->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<!--<link rel="stylesheet" href="/slowcontrol-channeldb/_design/slowcontrol/style/jquery.mobile.css" type="text/css">-->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

<!--jquery couch stuff-->
<!--The following is not compatible with jquery since couchdb is -->
<!--running on an old version. Thus, a good (newer) version of jquery.couch.js -->
<!--has been placed in the couchapp directory-->
<!--<script src="/_utils/script/jquery.couch.js"></script>-->
<script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.couch.js"></script>
<script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.couch.app.js"></script>
<script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.couch.app.util.js"></script>
    <!-- script src="../../script/app.js"></script -->
    
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>


</head>
<body>
<div data-role="page" id="alarmsdetail">
  {{!<div id="account"></div>}}
  <div data-role="header" class="ui-state-persist" data-position="fixed">
    <h1>Slow Control Alarms</h1>
    <a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
  <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
    <a id="rackaudiobutton" loop="true" class="ui-btn ui-btn-icon-right ui-icon-comment">Rack Audio Alarm On</a>
    <a id="testaudiobutton" class="ui-btn ui-btn-icon-right ui-icon-gear">Test Audio</a>
    <a id="colorblindbutton" class="ui-btn ui-btn-icon-right ui-icon-eye">Colorblind Mode Off</a>
    <audio preload="true" id="testaudio">
    <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/testaudio.ogg" type="audio/ogg" />
    <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/testaudio.mp3" type="audio/mp3" />
    </audio>
    <audio preload="true" id="rackaudio" loop="true">
    <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.ogg" type="audio/ogg" />
    <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.mp3" type="audio/mp3" />
    </audio>
  </div><!-- /controlgroup -->
  <div data-role="navbar">
    <ul>
      <li><a href="#alarmsdetail" class="ui-btn-active ui-state-persist" data-icon="grid">Overview</a>
      <li><a href="#thresholds" data-icon="edit">Channel Thresholds</a>
      <li><a href="#graphs" data-icon="bars">Graphs</a>
    </ul>
  </div><!-- /navbar -->
  </div><!-- /header -->
      <p></p>
      <div id="wheretext"></div>

      <div style="width:100%;height:90px">
        <div>
          Legend
        </div>
	<div class="medium">
          <div id="OKsamp" class="box medium" style="clear:both">All OK</div>
        </div>
	<div class="medium">
          <div id="AlarmSamp" class="legendbox medium" style="clear:both">ALARMING</div>
        </div>
        <div class="medium">
          <div id="DisableSamp" class="legendbox medium" style="clear:both">Alarm DISABLED</div>
        </div>
	<div class="medium">
          <div id="OFFSamp" class="legendbox medium" style="clear:both">Power OFF</div>
        </div>
	<div class="medium">
          <div id="OLDSamp" class="legendbox medium" style="clear:both">Timestamp OLD</div>
        </div>
      </div>
      
      <div style="width:100%;height:160px">
        <div>
          Rack Voltages
        </div>
        {{#racks}}
        <div class="{{style}}">
          {{id}}
          {{#channels}}
          <div id="rack{{id}}channel{{channel}}" class="box inside">
            {{channel}}: <span id="rack{{id}}channel{{channel}}val"></span>
          </div>
          {{/channels}}
        </div>
        {{/racks}}
      </div>
      
      <div style="width:100%;height:90px">
        <div>
          Crate XL3's
        </div>
        {{#crates}}
        <div class="{{style}}">
          {{id}}
          {{#channels}}
          <div id="crate{{id}}channel{{channel}}" class="box inside">
            {{channel}}
          </div>
          {{/channels}}
        </div>
        {{/crates}}
      </div>

      <div style="width:100%;height:90px">
        <div>
          Others
        </div>
	<div class="big">
          <div id="otherMTCD" class="box big" style="clear:both">MTCD -2V: <scan id=MTCDval></scan></div>
        </div>
	<div class="big">
          <div id="EStopUPS" class="box big" style="clear:both">E-Stop/HV Disable or UPS</div>
        </div>
	<div class="big">
          <div id="cavity_water_temp1" class="box big" style="clear:both">Cavity Water Temp: <span id="cavity_water_temp1val"></span></div>
        </div>
	<div class="big">
          <div id="cavity_water_level1" class="box big" style="clear:both">Cavity Water Level</div>
        </div>
	<div class="big">
          <div id="deck_temp1" class="box big" style="clear:both">Deck Temperature</div>
        </div>
	<div class="big">
          <div id="deck_humidity1" class="box big" style="clear:both">Deck Humidity</div>
        </div>
      </div>
      
      <div style="width:100%;height:90px">
        <div>
          Comp Coil Status
        </div>
        {{#compcoils}}
        <div class="{{style}}">
          {{id}}
          {{#channels}}
          <div id="coil{{id}}channel{{channelshort}}" class="box inside">
            {{channel}}
          </div>
          {{/channels}}
        </div>
        {{/compcoils}}
      </div>
      
      <div style="width:100%;height:50px">
        <div>
          Hold-up Rope Tensions
        </div>
        {{#holdupropes}}
        <div class="{{style}}">
          <div id="holdup_rope{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/holdupropes}}
      </div>
      <div style="width:100%;height:50px">
        <div>
          Hold-down Rope Tensions
        </div>
        {{#holddownropes}}
        <div class="{{style}}">
          <div id="holddown_rope{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/holddownropes}}
      </div>

      <div style="width:100%;height:50px">
        <div>
          Equator monitors
        </div>
        {{#equator}}
        <div class="{{style}}">
          <div id="equator_monitor{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/equator}}
      </div>

      <div style="width:200%;height:50px">
        <div>
          Connection Statuses
        </div>
        {{#conns}}
        <div class="{{style}}">
          <div id="{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/conns}}
      </div>
     
      <div style="width:100%;height:175px">
        <div>
          Page updates (Current CouchDB server time minus latest document timestamp in seconds)
        </div>
        <div>
          <div>
            <span  class="timetable narrow"></span>
            <span  class="timetable narrow">data</span>
            <span  class="timetable narrow">alarms</span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 1 
            </span>
            <span  class="timetable narrow" id="time_data_ios1"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios1"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 2 
            </span>
            <span  class="timetable narrow" id="time_data_ios2"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios2"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 3 
            </span>
            <span  class="timetable narrow" id="time_data_ios3"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios3"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 4 
            </span>
            <span  class="timetable narrow" id="time_data_ios4"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios4"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">Delta V 
            </span>
            <span  class="timetable narrow" id="time_data_deltav"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_deltav"> 
            </span>
	  </div>
	  </div>
	  </div>
    </div>


    <div data-role="page" id="thresholds">
      {{!<div id="account"></div>}}
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
      <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
	<a class="rackaudiobutton ui-btn ui-btn-icon-right ui-icon-comment">Rack Audio Alarm On</a>
	<a class="testaudiobutton ui-btn ui-btn-icon-right ui-icon-gear">Test Audio</a>
      </div>
      <div data-role="navbar">
	<ul>
	  <li><a href="#alarmsdetail" data-icon="grid">Overview</a>
	  <li><a href="#thresholds" class="ui-btn-active ui-state-persist" data-icon="edit">Channel Thresholds</a>
	  <li><a href="#graphs" data-icon="bars">Graphs</a>
	</ul>
      <!-- <button id="format">Format</button>-->
      <!--<div id="approval" style="display:none"> Approve: <input type="checkbox" label="Approve:" id="approved" data-role="none" /></div>-->
      </div>
      </div>
      <form data-inline="true">
      <div class="ui-field-contain">
	<legend>Choose Channels to display:</legend>
	<select name="chooseChannels" id="chooseChannels" data-inline="true" data-native-menu="false">
	  <option>Choose Channels...</option>
	  <option value="alarms">Alarms</option>
	  <option value="allChannels">All Channels</option>
	  <option value="rack">Rack Voltages</option>
	  <option value="timingrack">Timing Rack</option>
	  <option value="xl3">XL3's</option>
	  <option value="crate">Crate Currents</option>
	  <option value="CompCoil">Comp Coils</option>
	  <option value="holdup_rope">Hold-up Ropes</option>
	  <option value="holddown_rope">Hold-down Ropes</option>
	  <option value="equator_monitor">Equator Monitors</option>
	  <option value="cover_gas">Cover Gas</option>
	</select>
	<button type="button" id="selectChannels" class="ui-btn	ui-btn-inline">Select</button>
	<button type="button" id="enableChannels" class="ui-btn ui-mini ui-btn-inline" disabled>Enable All</button>
	<button type="button" id="disableChannels" class="ui-btn ui-mini ui-btn-inline" disabled>Disable All</button>
	<a href="#popupSave" data-rel="popup"
	data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left"
	data-transition="pop">Save Changes</a>
      <div data-role="popup" id="popupSave" class="ui-corner-all">
	<form>
      <div style="padding:10px 20px;">
	<h3>Enter edit info.:</h3>
	<label for="name-text" class="ui-hidden-accessible">Your name:</label>
	<label for="reason-text" class="ui-hidden-accessible">Reason:</label>
        <label for="pwd-text" class="ui-hidden-accessible">Password:</label>
	<input type="text" name="name-text" id="name-text" value="" placeholder="Name">
	<input type="text" name="reason-text" id="reason-text" value="" placeholder="Reason">
	<input type="password" name="pwd-text" id="pwd-text" value="" placeholder="Password">
	<button type="submit" id="saveThresholds" class="ui-btn ui-corner-all ui-shadow ui-btn-icon-left ui-icon-check">Submit Changes</button>
      </div>
      </form>
      </div>
      <div>
	<table>
	  <tr>
	    <td>
	      <label for="showPresentThresholds">Show Present Thresholds:</label>
	      <input type="checkbox" data-role="flipswitch" name="showPresentThresholds" id="showPresentThresholds">
	    </td>
	    <td>
	      <label for="showApprovedThresholds">Show Approved Thresholds:</label>
	      <input type="checkbox" data-role="flipswitch" name="showApprovedThreshold" id="showApprovedThresholds">
	    </td>
	  </tr>
	  <tr>
	    <td><button type="button" class="ui-btn ui-mini" id="fillPresentThresholds">Fill Present Thresholds</button></td>
	    <td><button type="button" class="ui-btn ui-mini" id="fillApprovedThresholds">Fill Approved Thresholds</button></td>
	  </tr>
	</table>
      </div>
      </form>
      
      </div>
      
      <div id="statustext"></div>
      <div id="statustext1"></div>
      <div class="header">
      <table>
	<tr>
	  <td class="wide">Channel Name</td>
	  <td class="narrow">LoLo</td>
	  <td class="narrow">Lo</td>
	  <td class="narrow">Presently</td>
	  <td class="narrow">Hi</td>
	  <td class="narrow">HiHi</td>
	  <td class="narrow">is Enabled</td>
	</tr>
      </table>
      </div>
      <div id="everything"></div>
      <div id="alarmsonly"></div>
      </div>
      </div>

      
      <div data-role="page" id="graphs">
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
      <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
	<a class="rackaudiobutton ui-btn ui-btn-icon-right ui-icon-comment">Rack Audio Alarm On</a>
	<a class="testaudiobutton ui-btn ui-btn-icon-right ui-icon-gear">Test Audio</a>
      </div>
      <div data-role="navbar">
          <ul>
	    <li><a href="#alarmsdetail" data-icon="grid">Overview</a>
            <li><a href="#thresholds" data-icon="edit">Channel Thresholds</a>
            <li><a href="#graphs" class="ui-btn-active ui-state-persist" data-icon="bars">Graphs</a>
          </ul>
	</div>
      </div>
      <p display="inline">Choose variable to plot:</p>
      <select id="name_dropdown" data-inline="true" width="200px"></select>
      <button id="addplot" class="ui-btn ui-btn-inline ui-icon-plus ui-btn-icon-right">Add</button>
      <button id="deleteplot" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-right">Delete</button>
      <div class="ui-field-contain" id="plotDate">
	<legend>Choose a time to plot from (UTC):</legend>
	<select name="plotYear" id="plotYear" data-inline="true" data-native-menu="false">
	  <option>Year</option>
	  <option value="2016">2016</option>
	  <option value="2015">2015</option>
	  <option value="2014">2014</option>
	  <option value="2013">2013</option>
        </select>
	<select name="plotMonth" id="plotMonth" data-inline="true" data-native-menu="false">
	  <option>Month</option>
	  <option value="Jan">Jan</option>
	  <option value="Feb">Feb</option>
	  <option value="Mar">Mar</option>
	  <option value="Apr">Apr</option>
	  <option value="May">May</option>
	  <option value="Jun">June</option>
	  <option value="Jul">July</option>
	  <option value="Aug">August</option>
	  <option value="Sep">September</option>
	  <option value="Oct">October</option>
	  <option value="Nov">November</option>
	  <option value="Dec">December</option>
        </select>
	<input name="plotDay" id="plotDay" placeholder="Day #" value="">
        <input name="plotHour" id="plotHour" placeholder="24-hour #" value="">
        <button id="setPlotDate" class="ui-btn ui-btn-inline ui-icon-plus ui-btn-icon-right">Apply</button>
        <button id="setPlotNow" class="ui-btn ui-btn-inline ui-icon-plus ui-btn-icon-right">Plot Live</button>
        </legend>	
    </div>
    <label for="graphingdate">Currently graphing back from time:</label>
    <div id="graphingdate"></div>
    <p>
    <div id="graphstatus"></div>
    <div id="graphnotice"></div>
    <div id="plots"></div>
    </div>

    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/slowloader.js"></script> 
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/slowrunner.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/plots.js"></script>
    <script src="/_utils/script/sha1.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.evently.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.mustache.js"></script>
  </body>
</html>
